* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #e9e8e6;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
    position: relative;
}

p {
    max-width: 75ch !important;
}

.loader{
    position: relative;
    z-index: 20;
    height:100vh;
    width: 100vw;
    background-color:black;
    z-index: 5;
    display: grid;
    place-items: center;
}

.loader-fadeout{
    animation: fadeout .3s ease forwards;
}
@keyframes fadeout{
    from{
        opacity:1;
    }to{
        opacity:0;
    }
}

.loader-cont{
    width: 20%;
}

.loader-svg{
    width: 100%;
}

.e, .f, .c, .s, .i{
    stroke: #cec1b4;
    stroke-dasharray: 3000px ;
    stroke-dashoffset: 3000px;
    fill: black;
}
.e{
    animation: stroke-anim 1s ease-in forwards, fill .8s ease-in 2.8s forwards ;
}
.f{
    animation: stroke-anim 1s ease-in .5s forwards, fill .8s ease-in 2.8s forwards ;
}
.c{
    animation: stroke-anim 1s ease-in 1s forwards, fill .8s ease-in 2.8s forwards ;
}
.s{
    animation: stroke-anim 1s ease-in 1.5s forwards, fill .8s ease-in 2.8s forwards ;
}
.i{
    animation: stroke-anim 1s ease-in 2s forwards, fill .8s ease-in 2.8s forwards ;
}

@keyframes stroke-anim {
    to{
        stroke-dasharray: 3300px;
    }
}

@keyframes fill {
    100%{
        fill: #cec1b4;
        stroke-width: 0;
    }
}

.container{
    width: 100%;
    height:2px;
    margin-top: 3rem;
    overflow: hidden;
}

.loading-bar{
    position: relative;
    background-color: #cec1b4;
    height:inherit;
    width:100%;
    animation: slide 1s infinite 3.6s linear;
    transform: translateX(110%);
}

@keyframes slide{
    0%{
        transform: translateX(110%);
    }
    100%{
        transform: translateX(-110%)
    }
}

.wrapper {
    overflow-x: hidden;
}

.header {
    max-height: 68rem;
    position: relative;
    width: 100vw;
    display: grid;
    background-color: rgb(9, 9, 9);
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 2fr 1fr;
}

.header > * {
    position: relative;
    z-index: 5;
}

nav {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;
}

.logo {
    width: 8rem;
    z-index: 11;
}

.nav-links {
    display: flex;
    width: 71%;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    list-style: none;
    text-transform: uppercase;
    margin: 0 1rem;
}

.nav-link a {
    outline: none;
    text-decoration: none;
    color: white;
}
.home {
    display: none;
}
.nav-link a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
}

.nav-link-inscris {
    padding: 0.7rem 3rem;
    background-color: #af7d51;
}

.burger {
    display: none;
}

.header-bg-container {
    width: 100vw;
    height: fit-content;
    z-index: 0;
    grid-row: 1/15;
    grid-column: 1/3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg {
    position: relative;
    height: 100%;
    width: auto;
    margin: auto;
    user-select: none;
}

.sub-top {
    grid-column: 1/3;
    grid-row: 6/7;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 1rem;
    margin-left: 13vw;
    align-self: center;
}

.title {
    grid-column: 1/3;
    grid-row: 7/10;
    height: fit-content;
    font-size: 4rem;
    margin: 2rem 2rem 2rem 13vw;
    align-self: center;
    width: 60rem;
}

.sub-bot {
    grid-column: 1/3;
    grid-row: 10/11;
    align-self: center;
    margin-left: 13vw;
}

.inscris {
    padding: 0.5rem 1rem 0.5rem 0;
    width: fit-content;
    grid-column: 1/3;
    grid-row: 11/12;
    align-self: flex-end;
    margin-top: 4rem;
    margin-left: 13vw;
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    transition: 0.3s all ease;
}

.inscris:hover {
    transform: scale(1.2);
    padding-left: 1.1rem;
}

.inscris p {
    color: #e9e8e6;
    text-transform: uppercase;
}

.inscris svg {
    margin-left: 1rem;
    animation: float 1.6s linear forwards infinite;
}
@keyframes float {
    0% {
        margin-left: 1rem;
    }
    50% {
        margin-left: 1.8rem;
    }
    100% {
        margin-left: 1rem;
    }
}

/* ########################################## START FORMATIONS STYLES ########################################## */

.formations {
    margin-top: 1.25rem;
    overflow: hidden;
    width: 17.4375rem;
    height: 23rem;
    grid-column: 2/3;
    grid-row: 10/13;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    cursor: pointer;
}

.formations::after {
    content: "";
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: 0.3s all ease;
    pointer-events: none;
}

.formations:hover .formations-img {
    transform: scale(1.1);
}
.formations:hover::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.formations > * {
    position: relative;
    z-index: 2;
}
.formations-img {
    grid-column: 1/2;
    grid-row: 1/5;
    transition: 0.3s all ease;
    z-index: 0;
}

.formations-des {
    color: white;
    grid-column: 1/2;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem 1.5rem 1rem 1.5rem;
}
.formations-des p {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
}
.formations-des h4 {
    font-size: 1.7rem;
}
.formations-des h4::first-letter {
    font-size: 2rem;
}
.formations-more {
    display: flex;
    justify-content: flex-end;
}
/* ########################################## END FORMATIONS STYLES ########################################## */

/* ########################################## START ACTIVITES STYLES ########################################## */
.activites {
    overflow: hidden;
    width: 17.4375rem;
    height: 23rem;
    grid-column: 1/2;
    grid-row: 12/15;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.activites::after {
    content: "";
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: 0.3s all ease;
    pointer-events: none;
}

.activites:hover .activites-img {
    transform: scale(1.1);
}
.activites:hover::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.activites-img {
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
    z-index: 0;
    transition: 0.3s all ease;
}
.activites-des {
    color: white;
    text-transform: uppercase;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    padding: 0rem 1rem;
    position: relative;
    z-index: 2;
}
/* ########################################## END ACTIVITES STYLES ########################################## */

/* ########################################## START SECOND STYLES ########################################## */
.second {
    padding: 10rem 12rem 0 12rem;
    height: fit-content;
    width: 100vw;
    position: relative;
    background: #af7e51;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sub-top-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.title-2 {
    margin-top: 3rem;
    width: 45rem;
    font-size: max(3.75vw, 3.5rem);
}
.description-cols {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
}

.description-cols p:first-of-type {
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.description-cols p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 35ch;
    letter-spacing: 1px;
    line-height: 1.8rem;
}

.pq-choisir {
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: white;
    margin-bottom: 5rem;
}
.pq-choisir svg {
    margin-left: 1.5rem;
    height: 1.7rem;
}
.pq-choisir:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
}
.excellence-mob {
    display: none;
}

/* ########################################## END SECOND STYLES ########################################## */

/* ########################################## START THIRD STYLES ########################################## */
.third {
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: #e5d1bd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
}
.third * {
    padding-left: 13vw;
    position: relative;
    z-index: 1;
}

.sub-top-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.title-3 {
    grid-column: 1/3;
    grid-row: 4/5;
    max-width: 70%;
    font-size: max(3.75vw, 3.5rem);
}
.sub-bot-3 {
    max-width: 36vw;
    margin-top: 5rem;
    margin-right: 2rem;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2rem;
    grid-row: 5/6;
}

.discover-form {
    text-transform: uppercase;
    padding: 0;
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    outline: none;
    color: white;
}
.discover-form svg {
    padding: 0;
    margin-left: 1.5rem;
    height: 1.7rem;
}
.discover-form:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
}
.excellence-desk {
    display: block;
    padding: 0;
    z-index: 0;
    height: auto;
    width: min(40vw, 70%);
    grid-column: 2/3;
    grid-row: 1/9;
    margin-left: -5rem;
    margin-top: -5.5rem;
}
/* ########################################## END THIRD STYLES ########################################## */

/* ########################################## START FOURTH STYLES ########################################## */
.fourth {
    height: 30rem;
    color: black;
    background-color:white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fourth h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 28px;
    font-weight: 400;
}

.logos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.logo-container {
    width: 12rem;
    height: 8rem;
    display: grid;
    place-items: center;
}
/* ########################################## END FOURTH STYLES ########################################## */

/* ########################################## START FIFTH STYLES ########################################## */
.fifth {
    height: 30rem;
    background-color: #e5d1bd;
    padding: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fifth h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 20px;
    font-weight: 400;
}
.quote {
    font-family: "Cormorant", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-text {
    font-size: 2rem;
    position: relative;
    width: 55%;
    font-weight: 300;
    text-align: center;
    line-height: 2.5rem;
}
.quote-start {
    font-weight: 300;
    font-style: italic;
    font-size: 5.25rem;
    position: relative;
    top: 1.5rem;
    margin-right: 0.5rem;
    line-height: 0;
}
.quote-end {
    padding: 0;
    font-weight: 300;
    font-style: italic;
    font-size: 5.25rem;
    position: relative;
    top: 2.75rem;
    line-height: 0;
}
.quoted {
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
}
/* ########################################## END FIFTH STYLES ########################################## */

/* ########################################## START FOOTER STYLES ########################################## */
footer {
    height: fit-content;
    padding: 2rem 3rem;
    background-color: black;
    color: #e9e8e6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.footer-logo {
    width: 9rem;
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: center;
}
.contact {
    grid-column: 2/3;
    grid-row: 2/5;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 0 0 2rem;
}

.contact h6 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 20px;
    color: #f5f5f5;
}

.address {
    grid-column: 1/2;
    grid-row: 2/3;
}

.email {
    grid-row: 3/4;
    grid-column: 1/2;
}

.certifs {
    grid-column: 3/5;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 3rem;
}
.certifs h6 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 20px;
    color: #f5f5f5;
}

.certifs-logo {
    grid-column: 1/2;
    grid-row: 2/3;
}
.certifs-des {
    justify-self: start;
    grid-column: 1/2;
    grid-row: 3/5;
    padding-right: 8rem;
}

/* ########################################## END FOOTER STYLES ########################################## */

@media screen and (max-width: 1560px) {
    .sub-bot-3 {
        max-width: unset;
    }
    .excellence-desk {
        margin-left: 0;
    }
}

@media screen and (max-width: 1175px) {
    .title {
        width: unset;
    }
    .excellence-desk {
        display: none;
    }
    .excellence-mob {
        display: block;
        align-self: flex-end;
        display: block;
        max-height: 460px;
        margin-right: 0;
        margin-bottom: -8rem;
        max-width: 100%;
        height: auto;
    }
    .title-3 {
        max-width: unset;
        padding-right: 4rem;
    }
    .sub-bot-3 {
        grid-column: 1/3;
    }
    .logos {
        overflow-x: scroll;
        justify-content: unset;
    }
    .logo-container {
        margin: 0 3rem;
    }
}

@media screen and (max-width: 1103px) {
    .sub-top {
        grid-row: 5/6;
        align-self: flex-end;
    }
    .sub-bot {
        grid-row: 11/12;
        align-self: flex-start;
    }
    .formations {
        grid-row: 11/16;
        height: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 968px) {
    .header {
        padding-top: 3rem;
        grid-template-rows: repeat(16, 1fr);
        --max-width-form-act: 43vw;
    }
    .header-bg-container {
        grid-row: unset;
        grid-column: unset;
        position: absolute;
        margin: 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    nav {
        margin: 0 2rem;
        grid-column: 1/3;
        grid-row: 1/3;
        height: fit-content;
        align-items: center;
    }
    .logo {
        width: 6rem;
    }

    .nav-links {
        position: absolute;
        z-index: 10;
        top: 0;
        transform: translateX(100%);
        margin: -3rem -2rem;
        padding: 6rem 7vw;
        height: 100vh;
        width: 100vw;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: 0.3s all ease;
        font-family: "Cormorant", sans-serif;
        font-size: 24px;
        line-height: 35px;
        color: #5c5c5c;
        font-weight: 600;
    }
    .slide-in {
        animation: slideIn 0.3s ease forwards;
    }
    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }
    .slide-in .home {
        display: block;
    }

    .slide-in .nav-link {
        margin: 0;
    }

    .last {
        width: fit-content;
        padding: 0.7rem 1rem;
        border: 1px solid #5f5f5f;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .last .nav-link-inscris {
        background-color: transparent;
        padding: 0;
        width: 100%;
    }

    .slide-out {
        animation: slideOut 0.3s ease forwards;
    }
    @keyframes slideOut {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(100%);
        }
    }

    .burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bars {
        width: 45px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.3s all ease;
        margin-left: 2rem;
    }
    .bar {
        height: 2px;
        width: inherit;
        background-color: white;
        transition: 0.5s all ease;
    }
    .bar:nth-child(2) {
        opacity: 1;
    }
    .label {
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 16px;
        display: block;
    }

    .open {
        z-index: 10;
        align-self: flex-start;
    }

    .open .bars {
        height: 35px;
    }

    .open .bar:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .open .bar:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: left;
    }

    .open .bar:nth-child(2) {
        opacity: 0;
    }

    .sub-top {
        grid-row: 5/6;
        margin: 0 2rem 2rem 2rem;
        width: 18rem;
    }
    .title {
        grid-row: 6/10;
        margin: 0 2rem;
        font-size: 48px;
        align-self: flex-start;
        line-height: 60px;
        width: unset;
    }
    .sub-bot {
        grid-column: 1/3;
        grid-row: 10/11;
        margin: 2rem 3rem 0 2rem;
        align-self: flex-start;
    }
    .inscris {
        margin: 0 2rem 0 2rem;
        padding: 0;
    }
    .formations {
        grid-row: 12/17;
        width: var(--max-width-form-act);
        max-width: 240px;
        height: fit-content;
    }
    .formations-img {
        width: var(--max-width-form-act);
        max-width: 240px;
        height: auto;
        margin: 0;
    }
    .formations-des {
        width: 100%;
        grid-row: 1/5;
        align-self: flex-end;
        padding: 0 1rem;
        justify-content: unset;
    }
    .formations-des p {
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 18px;
        font-weight: 400;
    }
    .formations-des h4 {
        font-size: 16px;
        line-height: 35px;
        font-weight: 700;
    }
    .formations-des h4::first-letter {
        font-size: 16px;
    }

    .activites {
        grid-row: 14/17;
        width: var(--max-width-form-act);
        max-width: 240px;
        height: fit-content;
    }
    .activites-img {
        width: var(--max-width-form-act);
        max-width: 240px;
        height: auto;
    }
    .activites-des {
        grid-row: 1/3;
        align-self: flex-end;
        padding: 0 1rem 1rem 1rem;
        font-size: 16px;
    }

    .second {
        padding: 10rem 2rem 0 2rem;
    }
    .sub-top-2 {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: 400;
    }
    .title-2 {
        font-size: 40px;
        width: unset;
    }
    .description-cols {
        max-height: unset;
        flex-direction: column;
    }
    .description-cols p {
        font-size: 16px;
        max-width: unset;
    }
    .description-cols p:first-of-type {
        margin: 0 0 3rem 0;
    }
    .pq-choisir {
        margin: 0 0 2rem 0;
    }
    .excellence-desk {
        display: none;
    }
    .excellence-mob {
        align-self: flex-end;
        display: block;
        max-height: 460px;
        margin-right: 0;
        margin-bottom: -8rem;
        max-width: 100%;
        height: auto;
    }
    .third {
        display: block;
        padding: 12rem 2rem 4rem 2rem;
        height: fit-content;
    }
    .third > * {
        margin: 0;
        padding: 0;
    }
    .sub-top-3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
    .title-3 {
        margin: 1.4rem 0 2.4rem 0;
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 47px;
        font-weight: 700;
        max-width: unset;
    }
    .sub-bot-3 {
        width: 100%;
        max-width: unset;
        font-size: 16px;
        line-height: 28px;
    }
    .discover-form {
        margin-top: 4rem;
    }
    .discover-form p {
        padding: 0;
    }

    .fourth {
        width: 100vw;
        padding: 3rem 2rem;
        min-height: 17rem;
        height: fit-content;
        justify-content: space-between;
    }
    .fourth h3 {
        font-size: 18px;
    }
    .logos {
        overflow-x: scroll;
        justify-content: unset;
    }
    .logo-container {
        margin: 0 3rem;
    }

    .fifth {
        height: fit-content;
        padding: 3rem 2rem;
    }
    .fifth h3 {
        margin-bottom: 3rem;
        letter-spacing: 2px;
        font-size: 16px;
    }
    .quote-text {
        width: 100%;
        font-size: 28px;
        line-height: 33px;
    }
    .quoted {
        font-size: 24px;
    }
    footer {
        display: flex;
        padding: 3rem 2rem;
        font-size: 16px;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact {
        padding: 0;
        margin: 3rem 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
    }
    .contact h6 {
        grid-column: 1/3;
        height: fit-content;
        margin-bottom: 1.5rem;
    }
    .address {
        margin-right: 1rem;
    }
    .email {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .certifs {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .certifs h6,
    .certifs-logo {
        margin-bottom: 1.5rem;
    }
    .certifs-des {
        padding: 0;
    }
}
@media screen and (max-width: 419px) {
    .header {
        display: grid;
        padding-top: 3rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(16, 1fr);
        --max-width-form-act: 43vw;
    }
    .header-bg-container {
        grid-row: unset;
        grid-column: unset;
        position: absolute;
        margin: 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    nav {
        margin: 0 2rem;
        grid-column: 1/3;
        grid-row: 1/3;
        height: fit-content;
        align-items: center;
    }
    .logo {
        width: 6rem;
    }
    .burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bars {
        width: 45px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1.2rem;
    }
    .open .bars {
        width: 35px;
        height: 27px;
    }
    .bar {
        height: 2px;
        width: inherit;
        background-color: white;
    }

    .label {
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 16px;
    }
    .close .label {
        display: none;
    }

    .sub-top {
        grid-column: 1/3;
        grid-row: 5/6;
        margin: 0 2rem 2rem 2rem;
        width: 18rem;
        font-size: 14px;
    }
    .title {
        grid-column: 1/3;
        grid-row: 6/11;
        margin: 0 2rem;
        font-size: 48px;
        align-self: flex-start;
        line-height: 60px;
        width: unset;
    }
    .sub-bot {
        grid-column: 1/3;
        grid-row: 11/12;
        margin: 2rem 2rem 0 2rem;
        align-self: flex-start;
        font-size: 14px;
    }
    .inscris {
        grid-column: 1/3;
        grid-row: 12/13;
        margin: 0 2rem 0 2rem;
        padding: 0;
        align-self: flex-end;
    }
    .formations {
        grid-column: 2/3;
        grid-row: 13/17;
        width: var(--max-width-form-act);
        max-width: 240px;
        height: fit-content;
    }
    .formations-img {
        width: var(--max-width-form-act);
        max-width: 240px;
        height: auto;
        margin: 0;
    }
    .formations-des {
        grid-column: 1/2;
        width: 100%;
        grid-row: 1/5;
        align-self: flex-end;
        padding: 0 1rem;
        justify-content: unset;
    }
    .formations-des p {
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 18px;
        font-weight: 400;
    }
    .formations-des h4 {
        font-size: 16px;
        line-height: 35px;
        color: #ffffff;
        font-weight: 700;
    }
    .formations-des h4::first-letter {
        font-size: 16px;
    }

    .activites {
        grid-column: 1/2;
        grid-row: 15/17;
        width: var(--max-width-form-act);
        max-width: 240px;
        height: fit-content;
    }
    .activites-img {
        width: var(--max-width-form-act);
        max-width: 240px;
        height: auto;
    }
    .activites-des {
        grid-row: 1/3;
        align-self: flex-end;
        padding: 0 1rem 1rem 1rem;
        font-size: 12px;
    }

    .second {
        padding: 10rem 2rem 0 2rem;
        height: fit-content;
    }
    .sub-top-2 {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: 400;
    }
    .title-2 {
        font-size: 40px;
        width: unset;
    }
    .description-cols {
        margin: 3rem 0;
        max-height: unset;
        flex-direction: column;
    }
    .description-cols p {
        font-size: 16px;
        max-width: unset;
    }
    .description-cols p:first-of-type {
        margin: 0 0 3rem 0;
    }
    .pq-choisir {
        margin: 0 0 2rem 0;
    }
    .excellence-desk {
        display: none;
    }
    .excellence-mob {
        align-self: flex-end;
        display: block;
        max-height: 460px;
        margin-right: 0;
        margin-bottom: -8rem;
        max-width: 100%;
        height: auto;
    }
    .third {
        display: block;
        padding: 12rem 2rem 4rem 2rem;
        height: fit-content;
    }
    .third > * {
        margin: 0;
        padding: 0;
    }
    .sub-top-3 {
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 20px;
        font-weight: 400;
    }
    .title-3 {
        margin: 1.4rem 0 2.4rem 0;
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 47px;
        font-weight: 700;
        max-width: unset;
    }
    .sub-bot-3 {
        width: 100%;
        max-width: unset;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 28px;
        font-weight: 300;
    }
    .discover-form {
        margin-top: 4rem;
    }
    .discover-form p {
        font-size: 16px;
        padding: 0;
    }

    .fourth {
        width: 100vw;
        padding: 3rem 2rem;
        min-height: 17rem;
        height: fit-content;
        justify-content: space-between;
    }
    .fourth h3 {
        font-size: 16px;
    }
    .logos {
        overflow-x: scroll;
        justify-content: unset;
    }
    .logo-container {
        margin: 0 3rem;
    }

    .fifth {
        height: fit-content;
        padding: 3rem 2rem;
    }
    .fifth h3 {
        margin-bottom: 3rem;
        letter-spacing: 2px;
        line-height: 20px;
        font-size: 16px;
    }
    .quote-text {
        width: 100%;
        font-size: 16px;
        line-height: 33px;
        font-size: 24px;
    }
    .quoted {
        font-size: 22px;
    }
    footer {
        height: fit-content;
        display: flex;
        padding: 3rem 2rem;
        font-size: 16px;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact {
        padding: 0;
        margin: 3rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
    }
    .contact h6 {
        grid-column: 1/3;
        grid-row: 1/2;
        height: fit-content;
        margin-bottom: 1.5rem;
    }
    .address {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-right: 1rem;
    }
    .email {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .certifs {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .certifs h6,
    .certifs-logo {
        margin-bottom: 1.5rem;
    }
    .certifs-des {
        padding: 0;
    }
}

@media screen and (max-width: 381px) {
    .sub-top {
        width: unset;
    }
    .title {
        font-size: 34px;
        grid-row: 6/10;
    }
    .sub-bot {
        grid-row: 10/11;
    }
    .inscris {
        grid-row: 11/12;
    }
    .formations {
        grid-row: 12/17;
    }
    .activites {
        grid-row: 14/17;
    }
}

@media screen and (min-width: 530px) and (max-width: 760px) {
    .sub-bot {
        grid-row: 9/10;
    }
    .inscris {
        grid-row: 10/11;
    }
}

@media screen and (min-width: 761px) and (max-width: 968px) {
    .sub-bot {
        grid-row: 8/9;
    }
    .inscris {
        grid-row: 9/10;
    }
}

@media screen and (max-width: 307px) {
    .sub-bot {
        grid-row: 11/12;
    }
    .inscris {
        grid-row: 12/13;
    }
    .inscris svg {
        display: none;
    }
}
