* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #e9e8e6;
    height: 100vh;
    width: 100vw;
}

.wrapper{
    overflow-x: hidden;
}

.header {
    max-height: 68rem;
    position: relative;
    width: 100vw;
    display: grid;
    background-color: black;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 6rem 2fr 1fr; /* 6rem is the width of the logo*/
}

.header > * {
    position: relative;
    z-index: 5;
}

nav {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;
}

.logo {
    width: 8rem;
}

.nav-links {
    display: flex;
    width: 63%;
    justify-content: space-around;
}

.nav-link {
    list-style: none;
    text-transform: uppercase;
}

.nav-link a {
    outline: none;
    text-decoration: none;
    color: white;
}
.nav-link a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
}

.nav-link-inscris {
    padding: 0.7rem 3rem;
    background-color: #af7d51;
}

.burger{
    display: none;
}

.header-bg-container{
    width: 100vw;
    height: fit-content;
    z-index: 0;
    grid-row: 1/15;
    grid-column: 1/4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg {
    position: relative;
    height: 100%;
    width: auto;
    margin: auto;
    user-select: none;
}

.sub-top {
    grid-column: 2/3;
    grid-row: 6/7;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 1rem;
    margin-left: 6rem;
    align-self: center;
}

.title {
    grid-column: 2/3;
    grid-row: 7/10;
    height: fit-content;
    font-size: min(3.75vw, 3.625rem);
    margin: 2rem 0;
    margin-left: 6rem;
    align-self: center;
}

.sub-bot {
    grid-column: 2/3;
    grid-row: 10/11;
    align-self: center;
    margin-left: 6rem;
}
@media (max-width: 1320px) {
    .sub-top {
        align-self: flex-start;
    }
    .sub-bot {
        align-self: center;
    }
}

.inscris {
    padding: 0.5rem 1rem 0.5rem 0;
    width: fit-content;
    grid-column: 2/3;
    grid-row: 11/12;
    align-self: end;
    margin-top: 4rem;
    margin-left: 6rem;
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    transition: 0.3s all ease;
}

.inscris:hover {
    transform: scale(1.2);
    padding-left: 1.1rem;
}

.inscris p {
    color: #e9e8e6;
    text-transform: uppercase;
}

.inscris svg {
    margin-left: 1rem;
    animation: float 1.6s linear forwards infinite;
}
@keyframes float {
    0% {
        margin-left: 1rem;
    }
    50% {
        margin-left: 1.8rem;
    }
    100% {
        margin-left: 1rem;
    }
}

/* ########################################## START FORMATIONS STYLES ########################################## */

.formations {
    margin-top: 1.25rem;
    overflow: hidden;
    width: 17.4375rem;
    height: 23rem;
    grid-column: 3/4;
    grid-row: 10/13;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    cursor: pointer;
}

.formations::after {
    content: "";
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: 0.3s all ease;
    pointer-events: none;
}

.formations:hover .formations-img {
    transform: scale(1.1);
}
.formations:hover::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.formations > * {
    position: relative;
    z-index: 2;
}
.formations-img {
    grid-column: 1/2;
    grid-row: 1/5;
    transition: 0.3s all ease;
    z-index: 0;
}

.formations-des {
    color: white;
    grid-column: 1/2;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem 1.5rem 1rem 1.5rem;
}
.formations-des p {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
}
.formations-des h4 {
    font-size: 1.7rem;
}
.formations-des h4::first-letter {
    font-size: 2rem;
}
.formations-more {
    display: flex;
    justify-content: flex-end;
}
/* ########################################## END FORMATIONS STYLES ########################################## */

/* ########################################## START ACTIVITES STYLES ########################################## */
.activites {
    overflow: hidden;
    width: 17.4375rem;
    height: 23rem;
    grid-column: 2/3;
    grid-row: 12/15;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.activites::after {
    content: "";
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: 0.3s all ease;
    pointer-events: none;
}

.activites:hover .activites-img {
    transform: scale(1.1);
}
.activites:hover::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.activites-img {
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
    z-index: 0;
    transition: 0.3s all ease;
}
.activites-des {
    color: white;
    text-transform: uppercase;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    padding: 0rem 1rem;
    position: relative;
    z-index: 2;
}
/* ########################################## END ACTIVITES STYLES ########################################## */

/* ########################################## START SECOND STYLES ########################################## */
.second {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0 12rem;
    background: #af7e51;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sub-top-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.title-2 {
    margin-top: 3rem;
    width: 60rem;
    font-size: max(3.75vw, 3.5rem);
}
.description-cols {
    margin: 3rem 0 5rem 0;
    max-height: 280px;
    display: flex;
}

.description-cols p:first-of-type {
    margin-right: 5rem;
}

.description-cols p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 35ch;
    letter-spacing: 1px;
    line-height: 1.8rem;
}

.pq-choisir {
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: white;
}
.pq-choisir svg {
    margin-left: 1.5rem;
    height: 1.7rem;
}
.pq-choisir:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
}
/* ########################################## END SECOND STYLES ########################################## */

/* ########################################## START THIRD STYLES ########################################## */
.third {
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: #e5d1bd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
}
.third * {
    padding-left: 12rem;
    position: relative;
    z-index: 1;
}

.sub-top-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.title-3 {
    grid-column: 1/3;
    grid-row: 4/5;
    max-width: 70%;
    font-size: max(3.75vw, 3.5rem);
}
.sub-bot-3 {
    max-width: 77%;
    width: 66%;
    margin-top: 5rem;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2rem;
    grid-row: 5/6;
}

.discover-form {
    text-transform: uppercase;
    padding: 0;
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    outline: none;
    color: white;
}
.discover-form svg {
    padding: 0;
    margin-left: 1.5rem;
    height: 1.7rem;
}
.discover-form:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
}

.excellence {
    padding: 0;
    z-index: 0;
    height: 96vh;
    width: auto;
    margin-left: -5.75rem;
    grid-column: 2/3;
    grid-row: 1/7;
    align-self: flex-end;
}
/* ########################################## END THIRD STYLES ########################################## */

/* ########################################## START FOURTH STYLES ########################################## */
.fourth {
    height: 30rem;
    color: black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fourth h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 20px;
    font-weight: 400;
}

.logos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.logo-container{
    width: 12rem;
    height: 8rem;
    display: grid;
    place-items: center;
}
/* ########################################## END FOURTH STYLES ########################################## */

/* ########################################## START FIFTH STYLES ########################################## */
.fifth {
    height: 30rem;
    background-color: #e5d1bd;
    padding: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fifth h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 20px;
    font-weight: 400;
}
.quote {
    font-family: "Cormorant", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-text {
    font-size: 2rem;
    position: relative;
    width: 55%;
    font-weight: 300;
    text-align: center;
    line-height: 2.5rem;
}
.quote-start {
    font-weight: 300;
    font-style: italic;
    font-size: 5.25rem;
    position: relative;
    top: 1.5rem;
    margin-right: 0.5rem;
    line-height: 0;
}
.quote-end {
    padding: 0;
    font-weight: 300;
    font-style: italic;
    font-size: 5.25rem;
    position: relative;
    top: 2.75rem;
    line-height: 0;
}
.quoted {
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
}
/* ########################################## END FIFTH STYLES ########################################## */

/* ########################################## START FOOTER STYLES ########################################## */
footer {
    height: fit-content;
    padding: 2rem 3rem;
    background-color: black;
    color: #e9e8e6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.footer-logo {
    width: 9rem;
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: center;
}
.contact {
    grid-column: 2/3;
    grid-row: 2/5;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 0 0 2rem;
}

.contact h6 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 20px;
    color: #f5f5f5;
}

.address {
    grid-column: 1/2;
    grid-row: 2/3;
}

.email {
    grid-row: 3/4;
    grid-column: 1/2;
}

.certifs {
    grid-column: 3/5;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 3rem;
}
.certifs h6 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 20px;
    color: #f5f5f5;
}

.certifs-logo {
    grid-column: 1/2;
    grid-row: 2/3;
}
.certifs-des {
    justify-self: start;
    grid-column: 1/2;
    grid-row: 3/5;
    padding-right: 8rem;
}

/* ########################################## END FOOTER STYLES ########################################## */

